@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: var(--off-white);
}

:root {
    --primary-color: orange;
    --light-orange: #fb923c;
    --off-white: #fed7aa;
}

h1 {
    background-color: var(--primary-color);
    border-radius: 1rem 2rem;
    padding: 1rem;
}

label {
    display: block;
    padding: 0.3rem 1rem;
    text-align: center;
}

.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

.change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}

th,
td {
    border: 2px solid black;
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}

input {
    padding: 0.5rem 5rem;
    border-radius: 0.5rem;
    border-color: coral;
    cursor: pointer;
    width: 40%;
    margin: 1rem;
}

div {
    padding: 1rem;
    border-radius: 1rem 1rem;
}

button {
    display: block;
    margin: auto;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    border-color: coral;
    color: coral;
    cursor: pointer;
}